# Python
__pycache__/
venv/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store 

# Data, Results, and Models
data/sample_videos/
data/frames_to_annotate/
results/
dataset/
runs/
*.pt
*.zip

*.csv
